{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}"/>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
{% endif %}
{% block navbar %}
{% include "partials/base.html" %}
{% endblock%}
{% block content %}
    <div id="main">
        <!-- <div style="border: 1px"> -->
            <span style="margin-top:20px;font-size:40px;" ><strong1>오늘도 건강하신가요? <strong>{{user.nickname}}</strong> 님</strong1></span>
            <a href="{% url 'account:setting' %}"><img src="{% static 'img/설정.png' %}" height=18 style="vertical-align: buttom;"></a>
        <!-- </div> -->
    </div>

    <div id="etc">
        <section class="section">
            <h2>📝 내가 쓴 글 📝</h2>
            <article class="mylist" style="overflow:auto; width:95%; height:150px;">
                <ul>
                {% for community in communities %}
                    <li><a href="{% url 'community:detail' community.id %}">{{community.title}}</a></li>
                    {% comment %} <li><a href="http://naver.com">요즘 들어 부쩍 정신이 몽롱하고 기운도 없는 느낌이 들어요</a></li>
                    <li><a href="http://daum.net">다들 잔여백신 신청하셨나요??</a></li>
                    <li><a href="http://google.com">오늘 새로 가입했습니다 ^_^</a></li>
                    <li><a href="http://google.com">오늘 새로 가입했습니다 ^_^</a></li>
                    <li><a href="http://google.com">오늘 새로 가입했습니다 ^_^</a></li>
                    <li><a href="http://google.com">오늘 새로 가입했습니다 ^_^</a></li>
                    <li><a href="http://google.com">오늘 새로 가입했습니다 ^_^</a></li>
                    <li><a href="http://google.com">오늘 새로 가입했습니다 ^_^</a></li> {% endcomment %}
                {% endfor %}
                </ul>
            </article>

            <h2>💬 내가 쓴 댓글 💬</h2>
            <div id="mitemargin">
              <article class="mycommend" style="overflow:auto; width:95%; height:150px;">
                  <ul>
                      <li><a href="http://naver.com">그거 좋은 생각이에요!</a></li>
                      <li><a href="http://daum.net">좋아요^^</a></li>
                      <li><a href="http://google.com">반가워요~ 저도 오늘 가입했어요!</a></li>
                      <li><a href="http://google.com">반가워요~ 저도 오늘 가입했어요!</a></li>
                      <li><a href="http://google.com">반가워요~ 저도 오늘 가입했어요!</a></li>
                      <li><a href="http://google.com">반가워요~ 저도 오늘 가입했어요!</a></li>
                      <li><a href="http://google.com">반가워요~ 저도 오늘 가입했어요!</a></li>
                      <li><a href="http://google.com">반가워요~ 저도 오늘 가입했어요!</a></li>
                  </ul>
              </article>
            </div>
        </section>
    </div>
{% endblock %}
</body>
</html>
{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}