{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}"/>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
{% endif %}
{% block navbar %}
{% include "partials/base.html" %}
{% endblock%}
{% block content %}
<br>
    <div id="main">
        <!-- <div style="border: 1px"> -->
            <span style="margin-top:20px;font-size:40px;" ><strong1>오늘도 건강하신가요? <strong>{{user.nickname}}</strong> 님</strong1>
                <img src="{% static 'img/mypage_icon.png' %}" width=120px align="middle"></span>
            <a href="{% url 'account:setting' %}"><img src="{% static 'img/설정.png' %}" height=18 style="vertical-align: buttom;"></a>
        <!-- </div> -->
    </div>

    <div id="etc">
        <section class="section">
            <h2>📝 내가 쓴 글 📝</h2>
            <article class="mylist" style="overflow:auto; width:95%; height:150px;">
                <ul>
                {% for community in communities %}
                    <li><a href="{% url 'community:detail' community.id %}">{{community.title}}</a></li>
                {% endfor %}
                </ul>
            </article>

            <h2>💬 내가 쓴 댓글 💬</h2>
            <div id="mitemargin">
              <article class="mycommend" style="overflow:auto; width:95%; height:150px;">
                  <ul>
                  {% for reply in replies %}
                    <li><a href="{% url 'community:detail' reply.postId %}">{{reply}}...</a></li>
                  {% endfor %}
                  </ul>
              </article>
            </div>
        </section>
    </div>
{% endblock %}
</body>
</html>
{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}