{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>setting</title>
    <link rel="stylesheet" href="{% static 'css/setting.css' %}"/>
</head>
<body>
{% block navbar %}
{% include "partials/base.html" %}
{% endblock%}
{% block content %}
    <div id="main">
        <div style="border: 1px">
            <span style="margin-top:20px;font-size:40px;"><strong>개인 정보 수정 🔍</strong></span>
        </div>
    </div>

    <div id="table">
        <br>
        <div style="border: 1px">
            <span style="margin-top:20px;font-size:40px;"></span>
        </div>
        <table border="1">
            <tr>
                <th>아이디</th>
                <td>
                    <label for="changeid"></label>
                    <input type="text" id="changeid" name="changeid" placeholder="{{user.name}}">
                    <button type="cofirm">중복 확인</button>
                </td>
            </tr>

            <tr>
                <th>이름</th>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <th>성별</th>
                <td><label for="sex"></label>
                    <input type="radio" name="gender" value="female">여성</option>
                    <input type="radio" name="gender" value="male">남성</option>
                </select>
                </td>
            </tr>

            <!-- <tr>
                <th>닉네임</th>
                <td>
                    <label for="changenick"></label>
                    <input type="text" id="changenick" name="changenick" placeholder="{{user.nickname}}">
                </td>
            </tr> -->

            <tr>
                <th>주소</th>
                <td>
                    <input type="text" id="sample6_postcode" placeholder="{{user.postcode}}">
                    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                    <input type="text" id="sample6_address" placeholder="{{user.address}}"><br>
                    <input type="text" id="sample6_detailAddress" placeholder="{{user.detailAddress}}">
                    <input type="text" id="sample6_extraAddress" placeholder="{{user.extraAddress}}">
                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                    <script>
                        function sample6_execDaumPostcode() {
                            new daum.Postcode({
                                oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                    var addr = ''; // 주소 변수
                                    var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                        addr = data.roadAddress;
                                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                        addr = data.jibunAddress;
                                    }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                                    if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                            extraAddr += data.bname;
                                        }
                                        // 건물명이 있고, 공동주택일 경우 추가한다.
                                        if(data.buildingName !== '' && data.apartment === 'Y'){
                                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                        }
                                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                        if(extraAddr !== ''){
                                            extraAddr = ' (' + extraAddr + ')';
                                        }
                                        // 조합된 참고항목을 해당 필드에 넣는다.
                                        document.getElementById("sample6_extraAddress").value = extraAddr;
                
                                    } else {
                                        document.getElementById("sample6_extraAddress").value = '';
                                    }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                    document.getElementById('sample6_postcode').value = data.zonecode;
                                    document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                                    document.getElementById("sample6_detailAddress").focus();
                                }
                            }).open();
                        }
                    </script>
                    <!-- <label for="homenum"></label>
                    <input type="text" id="homenum" name="homenum" placeholder="{{user.homenum}}">
                    <button type="find">찾기</button>
                    <br>
                    <label for="location"></label>
                    <input type="text" id="location" name="location" placeholder="{{user.location}}">
                    <label for="detaillocation"></label>
                    <input type="text" id="detaillocation" name="detaillocation" placeholder="{{user.detaillocation}}">
                    <br> -->
                </td>
            </tr>

            <tr>
                <th>핸드폰</th>
                <td>
                    <label for="changenum"></label>
                    <input type="tel" id="changenum" name="changenum" placeholder="{{user.number}}">
                </td>
            </tr>

            <tr>
                <th>이메일</th>
                <td>
                    <label for="changeemail"></label>
                    <input type="email" id="changeemail" name="changeemail" placeholder="{{user.email}}">
                </td>
            </tr>
        </table>
        
        <div id=button>
            <a href="{% url 'account:stchange' %}"target="_blank">
                <button type="submit">수정</button>
            </a>
            <a href="{% url 'account:stcancel' %}"target="_blank">
                <button type="reset">취소</button>
            </a>
            <a href="{% url 'account:stdelete' %}"target="_blank"><h5>회원 탈퇴하기</h5></a>
        </div>
    </div>
{% endblock %}
</body>
</html>
{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}