{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>setting</title>
    <link rel="stylesheet" href="{% static 'css/setting.css' %}"/>
    <script>
        function cancel(obj){
        var n = confirm("개인 정보 수정을 취소하시겠습니까?");
        if(n == true){
            obj.href = "{% url 'account:mypage' %}";
        }
    }
        function change(obj){
            var n = confirm("정말로 탈퇴하시겠습니까?")
            if(n == true){
                obj.href = "{% url 'account:userDelete'%}";
            }
        }
    </script>
</head>
<body>
{% block navbar %}
{% include "partials/base.html" %}
{% endblock%}
{% block content %}
    <div id="main">
        <div style="border: 1px">
            <span style="margin-top:20px;font-size:40px;"><strong>개인 정보 수정 🔍</strong></span>
        </div>
    </div>

    <div id="table">
        <br>
        <div style="border: 1px">
            <span style="margin-top:20px;font-size:40px;"></span>
        </div>
        <form method="POST">
        {%csrf_token%}
        <table border="1">
            <tr>
                <th>아이디</th>
                <td>{{user.username}}</td>
            </tr>

            <tr>
                <th>이름</th>
                <td>{{user.nickname}}</td>
            </tr>

            <tr>
                <th>생년월일</th>
                <td>{{user.birth}}</td>
            </tr>

            <tr>
                <th>성별</th>
                <td>{{user.gender}}</td>
            </tr>

            <tr>
                <th>주소</th>
                <td>
                    <input type="text" id="sample6_postcode" placeholder="user.postcode" name="postcode" value="{{user.postcode}}">
                    <input type="button" style="border:0; width:70px; font-size: 10px; color: black; background-color:rgb(241 229 217); height: 30px;"onclick="sample6_execDaumPostcode()" value="우편번호 찾기" a href=""><br>
                    <input type="text" id="sample6_address" placeholder="user.address" name="address" value="{{user.address}}"><br>
                    {% comment %} <input type="text" id="sample6_detailAddress" placeholder="user.detailAddress"> {% endcomment %}
                    <input type="text" id="sample6_extraAddress" placeholder="user.extraAddress" name="extraAddress" value="{{user.extraAddress}}">
                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                    <script>
                        function sample6_execDaumPostcode() {
                            new daum.Postcode({
                                oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                    var addr = ''; // 주소 변수
                                    var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                        addr = data.roadAddress;
                                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                        addr = data.jibunAddress;
                                    }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                                    if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                            extraAddr += data.bname;
                                        }
                                        // 건물명이 있고, 공동주택일 경우 추가한다.
                                        if(data.buildingName !== '' && data.apartment === 'Y'){
                                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                        }
                                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                        if(extraAddr !== ''){
                                            extraAddr = ' (' + extraAddr + ')';
                                        }
                                        // 조합된 참고항목을 해당 필드에 넣는다.
                                        document.getElementById("sample6_extraAddress").value = extraAddr;
                
                                    } else {
                                        document.getElementById("sample6_extraAddress").value = '';
                                    }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                    document.getElementById('sample6_postcode').value = data.zonecode;
                                    document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                                    document.getElementById("sample6_detailAddress").focus();
                                }
                            }).open();
                        }
                    </script>
                </td>
            </tr>

            <tr>
                <th>이메일</th>
                <td>{{user.email}}</td>
            </tr>
        </table>
        <div id='button'>
            <button type="submit" style="border:0; width:120px; font-size: 18px; color: black; background-color:rgb(241 229 217); height: 43px;">수정</button>
<a href="" style="color:black;" onclick="cancel(this)"><button type="button" style="border:0; width:120px; font-size: 18px; color: black; background-color:white; height: 37px; margin: 10px; outline-style:groove; outline-color: rgb(241 229 217);">취소</button></a>
        <a href="" onclick="change(this)"><h5>회원 탈퇴하기</h5></a>
        </div>
        </form>
    </div>
{% endblock %}
</body>
</html>
{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}