{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>HERspital</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div>
            <a class="navbar__logo" href="{% url 'mainpage' %}"><img src="{% static 'img/logo.png' %}"></a>
        </div>
        <ul class="navbar__menu">
            <li><a href="{% url 'core:mainpage' %}" class="navitem">지도</a></li>
            <li><a href="{% url 'community:communityList' %}" class="navitem">커뮤니티</a></li>
            <li><a href="{% url 'community:expertList' %}" class="navitem">전문인 상담</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'account:mypage' %}" class="navitem">마이페이지</a></li>
            {% endif %}

        </ul>
        {% if user.is_authenticated %}
            <div class="navbar__login">
                <p id="greeting">Welcome, {{user.username}}님 환영합니다!</p>
                <a href="{% url 'account:logout' %}"><button id="login" class="logoutBtn">Logout</button></a>
            </div>
        {% endif %}
        {% if not user.is_authenticated %}
        <div class="navbar__login">
            <a href="{% url 'account:login' %}"><button id="login" class="loginBtn">Login</button></a>
        </div>
        {% endif %}
    </nav>

    <script>
        const currentLocation = location.href;
        const navItem = document.querySelectorAll('.navitem');
        const navLength = navItem.length;
        for(let i=0; i<navLength; i++){
            if(navItem[i].href === currentLocation){
                navItem[i].className = "navitem active"
            }
        }
    </script>
</body>
</html>