<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}" />
    {% endblock %}
    <title>HERspital</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=944c613fcf3d3b09b562ee8c5a116fd2&libraries=services,clusterer,drawing"></script>
    <style>
      #hospital_Name{
        margin-bottom: 10px;
      }
    </style>
</head>
<body>
    {% block navbar %}
        {% include "partials/base.html" %}
    {% endblock%}
    
    <div id="home">
        <!-- 지도 -->
        <div id="map" style="width:65%;height:600px; display: block; margin: auto; border: 2px solid #FFC478; border-radius: 10px;"></div>
	    <script>
        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        var infowindow = new kakao.maps.InfoWindow({zIndex:1});

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
        };  

        // 지도를 생성합니다    
        var map = new kakao.maps.Map(mapContainer, mapOption); 

        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
        if (navigator.geolocation) {
    
        // GeoLocation을 이용해서 접속 위치를 얻어옵니다
        navigator.geolocation.getCurrentPosition(function(position) {

            var lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도
    
            var locPosition = new kakao.maps.LatLng(lat, lon);

            // 마커와 인포윈도우를 표시합니다
            displayMarker2(locPosition);
            
            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();

            // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
            searchAddrFromCoords(locPosition, displayCenterInfo);

            function searchAddrFromCoords(coords, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
            }

            function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
            }

            // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
            function displayCenterInfo(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                var infoDiv = document.getElementById('hpinfo');

                for(var i = 0; i < result.length; i++) {
                    // 행정동의 region_type 값은 'H' 이므로
                    if (result[i].region_type === 'H') {
                        infoDiv.innerHTML = "현재 위치는 " + result[i].address_name + "입니다."; 
                        break;
                        }
                    }
                }    
            }
        });
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
                message = 'geolocation을 사용할수 없어요..'
    
            displayMarker2(locPosition, message);
        }

        // 지도에 (현재 위치) 마커 표시
        function displayMarker2(locPosition) {

            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(locPosition);      
        }    

        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places(); 

        // 키워드로 장소를 검색합니다
        ps.keywordSearch('산부인과', placesSearchCB); 

        // 키워드 검색 완료 시 호출되는 콜백함수 입니다
        function placesSearchCB (data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i<data.length; i++) {
                displayMarker(data[i]);    
                //bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }       

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            //map.setBounds(bounds);
                } 
        }
        // 지도에 마커를 표시하는 함수입니다
        function displayMarker(place) {
    
        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x) 
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="width:250px; heigh:70px; padding:8px;font-size:14px;">' + '<span style="color:#32be8f; font-size:18px">' + place.place_name + '</span>' + '<br><br>' + place.address_name + '<br>' + place.road_address_name + '<br>' + place.phone + '</div>');
            infowindow.open(map, marker);
            //클릭한 병원의 이름으로 설정
            var hospital_Name = document.getElementById('hospital_Name')
            hospital_Name.value=place.place_name
            //클릭하면 해당 병원의 리뷰만 뜨도록
            //window.location.href="?name=true&hospital="+place.place_name
            });
        }

	    </script>
        <!-- 정보 및 리뷰 -->
        <form action="{% url 'core:create_review' %}" method="post">
        {% csrf_token %}
        <div id="content">
            <div id="info">
                <br><br><p id="hpinfo" style="text-align: center;" > </p><br><br>
                <hr style="border-color: rgba(190, 190, 190, 0.26); width: 73%;"><br>
            </div>
            <div id="review">
            <h2 style="text-align: center;">리뷰 ㅣ <span id="review-count">{{reviews.count}}</span>건</h2><br>
            {% if user.is_authenticated %}
                <a class="review_star">별점 : </a> 
                <div class="star-rating space-x-4 mx-auto" id="star-rating">
                    <input type="radio" id="5-stars" name="rating" value="5" v-model="ratings"/>
                    <label for="5-stars" class="star pr-4">★</label>
                    <input type="radio" id="4-stars" name="rating" value="4" v-model="ratings"/>
                    <label for="4-stars" class="star">★</label>
                    <input type="radio" id="3-stars" name="rating" value="3" v-model="ratings"/>
                    <label for="3-stars" class="star">★</label>
                    <input type="radio" id="2-stars" name="rating" value="2" v-model="ratings"/>
                    <label for="2-stars" class="star">★</label>
                    <input type="radio" id="1-star" name="rating" value="1" v-model="ratings"/>
                    <label for="1-star" class="star">★</label>
                </div>
                <a class="review_star">선택된 병원 : <input type="text" id="hospital_Name" name="hospital_Name"></a>
                <div class="review-row">
                    <textarea id="new-review" name="new_review" rows="5" cols="170" placeholder="리뷰를 작성하세요. 단, 삭제는 불가능합니다."></textarea><br>
                    <button type="submit" {%comment%}onclick="submitReview()"{%endcomment%} class="review_btn">등록</button><br>
                </div>
                {% endif %}
        </form>
                <br><br>
                <div class="review-box">
                    {% for review in reviews %}
                    <div class="review-row">
                        <div class="review-date">[{{review.hospital}}] &emsp;{{review.starReview}}&emsp;{{review.pub_date}}</div><br>
                        <div class="review-content" style="margin-bottom: 40px;">{{review.body}}<br></div>
                        <!-- {% comment %} <div class="review-date">익명 &emsp;★★★☆☆(3)&emsp;2021-08-03</div><br>
                        <div class="review-content" style="margin-bottom: 40px;">sample review<br></div> {% endcomment %} -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
        
    <script type="text/javascript">

    //리뷰 작성
    function warnEmpty(){
        alert("내용을 입력해주세요.");
    }

    {% comment %} function starReview(){
        if(document.getElementById("1-star").checked){
            starData = "★☆☆☆☆(1)";
        }else if(document.getElementById("2-stars").checked){
            starData = "★★☆☆☆(2)";
        }else if(document.getElementById("3-stars").checked){
            starData = "★★★☆☆(3)";
        }else if(document.getElementById("4-stars").checked){
            starData = "★★★★☆(4)";
        }else{
            starData = "★★★★★(5)";
        }
        return starData;
    } {% endcomment %}

    function dateToString(date){
        const dateString = date.toISOString();
        const dateToString = dateString.substring(0,10);
        return dateToString;
    }

    {% comment %} function submitReview(){
        const newreviewEL = document.getElementById("new-review");
        const newreview = newreviewEL.value.trim();

        if(newreview){
            const starEL = document.createElement('span');
            const starString = starReview(document.getElementById);
            starEL.innerHTML = starString + "&emsp;";

            const dateEL = document.createElement('span');
            dateEL.classList.add('review-date');
            const dateString = dateToString(new Date());
            dateEL.innerText = dateString;

            const contentEL = document.createElement('div');
            contentEL.classList.add('review-content');
            contentEL.innerText = newreview;

            const br = document.createElement('div');
            br.innerHTML = "<hr><br><br>"

            const br2 = document.createElement('div');
            br2.innerHTML = "<br><br>"

            const br3 = document.createElement('div');
            br3.innerHTML = "<br>"

            const name = document.createElement('span');
            name.innerHTML = "익명 &emsp;"

            const reviewEL = document.createElement('span');
            reviewEL.classList.add('review-row');
            reviewEL.appendChild(br);
            reviewEL.appendChild(name);
            reviewEL.appendChild(starEL);
            reviewEL.appendChild(dateEL);
            reviewEL.appendChild(br3);
            reviewEL.appendChild(contentEL);
            reviewEL.appendChild(br2);

            document.getElementById('review').appendChild(reviewEL);
            newreviewEL.value = "";

            const countEL = document.getElementById('review-count');
            const count = countEL.innerText;
            countEL.innerText = parseInt(count) + 1;
        }else{
            warnEmpty();
        }
    } {% endcomment %}
</script>
</body>
</html>
{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}