<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %} "/>
    <title>Document</title>
</head>
<style>
  @font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Cafe24SsurroundAir';
}
.review-date{
  color:#74D0B9;
}
</style>
<body>
    <div class="review-box">
        {% for review in reviews %}
        <div class="review-row">
            <div class="review-date">[{{review.hospital}}] &emsp;{{review.starReview}}&emsp;</div><br>
            <div class="review-content" style="margin-bottom: 40px;">{{review.body}}<br><br>{{review.pub_date}}</div>
        </div>
        {% endfor %}
    </div>
</body>
</html>

