{% load static %}
<DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--웹페이지 title부분에 표시되는 작은 아이콘-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="{% static 'css/communityList.css' %}">
    <title>Herspital</title>
</head>
<body>
{% block navbar %}
    {% include "partials/base.html" %}
{% endblock%}
    <section>
        <div class="topContent">
            <div class="search">
            <div class="search_wrap">
                <div class="search_box">
                    <div class="btn btn_common">
                        <i class="fas fa-search"></i>
                    </div>
                    <input type="text" class="input" placeholder="Search...">
                </div>
            </div>
            </div>
            <div class="secondTab">
                <div class="preface_wrap">
                    <ul class="preface"> <!-- 머릿말 누르면 해당 내용으로 정렬되도록 해야함 > Django랑 연결해서 수정할 예정 -->
                        <li><a href="">#10대</a></li>
                        <li><a href="">#20대</a></li>
                        <li><a href="">#30대</a></li>
                        <li><a href="">#40대</a></li>
                        <li><a href="">#50대</a></li>
                    </ul>
                </div>
                <div class="newPostBtn_wrap">
                    <button class="newPostBtn"><i class="fas fa-pencil-alt"></i> 글 작성하기</button>
                </div>
            </div>
            
        </div>
        <div class="bottomContent">
            <table class="table">
                <thead>
                    <tr>
                        <th>말머리</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>댓글</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20대</td>
                        <td>잔여백신 백케팅 성공한 사람?</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>40대</td>
                        <td>요즘 얼굴이 많이 화끈거리네요...</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>30대</td>
                        <td>체력이 많이 떨어지면 역시 운동인가?</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>20대</td>
                        <td>자궁경부암이 사람유두종바이러스 때문에...</td>
                        <td>익명<i class="fas fa-mars"></i></td>
                        <td>07-28</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <td>20대</td>
                        <td>잔여백신 백케팅 성공한 사람?</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>40대</td>
                        <td>요즘 얼굴이 많이 화끈거리네요...</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>30대</td>
                        <td>체력이 많이 떨어지면 역시 운동인가?</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>20대</td>
                        <td>자궁경부암이 사람유두종바이러스 때문에...</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <td>20대</td>
                        <td>잔여백신 백케팅 성공한 사람?</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>40대</td>
                        <td>요즘 얼굴이 많이 화끈거리네요...</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>30대</td>
                        <td>체력이 많이 떨어지면 역시 운동인가?</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>20대</td>
                        <td>자궁경부암이 사람유두종바이러스 때문에...</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <td>40대</td>
                        <td>요즘 얼굴이 많이 화끈거리네요...</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>30대</td>
                        <td>체력이 많이 떨어지면 역시 운동인가?</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>20대</td>
                        <td>자궁경부암이 사람유두종바이러스 때문에...</td>
                        <td>익명<i class="fas fa-venus"></i></td>
                        <td>07-28</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
            <div class="pageNum_wrap">
                <ul class="pageul">
                    <li><a href="#" class="prev">< Prev</a></li>
                    <li class="pageNumber active"><a href="#">1</a></li>
                    <li class="pageNumber"><a href="#">2</a></li>
                    <li class="pageNumber"><a href="#">3</a></li>
                    <li class="pageNumber"><a href="#">4</a></li>
                    <li class="pageNumber"><a href="#">5</a></li>
                    <li class="pageNumber"><a href="#">6</a></li>
                    <li><a href="#" class="next">Next ></a></li>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        9th Like Lion in Duksung team Herspital 2021<br>
        Kim sujeong Na gyeong-yoon Park Soyeon Seo Jisu Sin jung-yoon Lee boyeon Yoo Dayeong<br>
        All rights reserved.
    </footer>
</body>
</html>