{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %}

{% block navbar %}
    {% include "partials/base.html" %}
{% endblock %}

{% block content %}
    <div class="community__detail">
        <h3>[ {{ community.age_tag }} ]</h3>
        <h1>{{ community.title }}</h1>
        <span>{{ community.pub_date | date:'y-m-d,H:i'}}</span>
        <hr>
        <div class="modify_delete">
            <span onclick="showpwbox(this.id)" id="detail_modify" style="cursor: pointer">수정</span> |
            <span onclick="showpwbox(this.id)" id="detail_delete" style="cursor: pointer">삭제</span>
        </div>
        <br>
        <div id="modify_password" style="display:none">
            <div>글 작성시 입력한 비밀번호를 입력해주세요.</div>
            <form action="" method="POST">
                {% csrf_token %}
                비밀번호: <input type="password" class="writerpw" name="writerpw" value="{{ writerpw }}" onkeydown="enterkey()" placeholder="입력 후 확인 버튼 클릭">
                <div id="modify_password_btn" onclick="check_pw(this.className)">확인</div>
            </form>
            <div id="warningtxt" style="display:none">비밀번호가 일치하지 않습니다.</div>
        </div>
        <br>
        {% if community.image %}
            <img src="{{community.image.url}}">
        {% endif %}
        <p style="white-space: pre-wrap;">{{ community.body }}</p>
        <br><br><br>
        <div class="community__reply">
            <img id="replyicon" src="{% static 'img/reply.png' %}">
            <div id="replytxt">댓글</div>
            <span id="review-count">{{replies.count}}</span>
            <form action="{%url 'community:replycreate' %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div id="review">
                <div class="review-row">
                    <input type="hidden" name="postId" value="{{community.id}}">
                    <input type="hidden" name="replyCount" value="{{replies.count}}">
                    <textarea id="new-review" name="body" rows="5" cols="90" placeholder="댓글 남기기."></textarea><br>
                    <button type="submit" {%comment%}onclick="submitReview()"{%endcomment%} class="review_btn">등록</button><br>
                </div>
                <br><br>
                {% for reply in replies %}
                <div class="review-box">
                    <div class="review-row">
                        <div class="review-date" style="float: left;">{{reply.pub_date | date:'m-d'}}</div>
                        <div class="review-content" style="padding-top: 40px;" >{{ reply.body }}<br></div>
                        <br><hr>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
        </div>
        
    </div>

    <script>
        function warnEmpty(){
        alert("내용을 입력해주세요.");
        }
        function dateToString(date){
            const dateString = date.toISOString();
            const dateToString = dateString.substring(0,10);
            return dateToString;
        }

        {% comment %} function submitReview(){
            const newreviewEL = document.getElementById("new-review");
            const newreview = newreviewEL.value.trim();

            if(newreview){
                const dateEL = document.createElement('div');
                dateEL.classList.add('review-date');
                const dateString = dateToString(new Date());
                dateEL.innerText = dateString;

                const contentEL = document.createElement('div');
                contentEL.classList.add('review-content');
                contentEL.innerText = newreview;

                const br = document.createElement('div');
                br.innerHTML = "<br><hr><br>"

                const reviewEL = document.createElement('div');
                reviewEL.classList.add('review-row');
                reviewEL.appendChild(br);
                reviewEL.appendChild(dateEL);
                reviewEL.appendChild(contentEL);

                document.getElementById('review').appendChild(reviewEL);
                newreviewEL.value = "";

                const countEL = document.getElementById('review-count');
                const count = countEL.innerText;
                countEL.innerText = parseInt(count) + 1;
            }else{
                warnEmpty();
            }
        } {% endcomment %}

        function showpwbox(m_or_d) {
            if(document.getElementById("modify_password").style=="display:none") {
                document.getElementById("modify_password").style="display:visible";
            }else document.getElementById("modify_password").style="display:visible";
            
            const btnvalue = m_or_d;
            
            document.getElementById("modify_password_btn").className = btnvalue;
        }

        function check_pw(m_or_d) {
            const inputpwd = document.querySelector(".writerpw").value;
            const writerpwd = "{{ community.password_Post }}";

            if(inputpwd == writerpwd) {
                if(m_or_d == 'detail_modify') {
                    location.href="{%url 'community:communityedit' community.id%}";
                }
                else if(m_or_d == 'detail_delete') {
                    var n = confirm("정말로 삭제하시겠습니까?");
                    if(n == true) {
                        location.href="{%url 'community:community_delete' community.id%}";
                    }
                }
                
            }else {
                document.getElementById("warningtxt").style="display:visible";
            }
        }

        function enterkey() {
            if(window.event.keyCode == 13) {
                check_pw();
            }
        }
    </script>
    
    
    
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}