{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    
    <style>
        .sec{
            border: solid 3px #F1E5D9;
            border-radius: 20px;
            height: 100vh;
            margin: 10px 200px 20px 200px;
            padding: 20px 30px 20px 30px;
            overflow: auto;
        }
/* 질문 내용 너비 주기 */
        #questionContent{
            line-height:30px;
        }

/* 답변 갯수 표시 영역 CSS */
.community__reply {
    display: block;
}

#replyicon {
    width: 30px;
    height: 29px;
    float: left;
    margin-right: 5px;
}

#replytxt {
    display: inline-block;
    font-weight: bold;
    color: #74D0B9;
    font-size: large;
    padding-top: 3px;
}

#review-count {
    font-weight: bold;
    color: #74D0B9;
    font-size: large;
}

/* 답변 영역 CSS */
        .responseBtn , .cancelBtn, .registerBtn{
            background-color: #FFC478;
            color: #ffffff;
            font-size: large;
            font-weight: 570;
            border-style: none;
            border-radius: 20px;
            width: 100px;
            height: 25px;
            margin:5px;
            cursor:pointer;
        }
        .cancelBtn, .registerBtn{
            display:none;
        }
        .response_content{
            width:100%;
            border: solid 3px #F1E5D9;
            border-radius: 20px;
            padding:10px;
            margin-bottom:10px;
        }
        #doctor_profile{
            width:40px;
        }
        #info_tab { display:flex; }
        #info_tab p{ flex-grow:1;}
        #info_tab div{ flex-grow:0; }

/* 테이블 */
        table{width:100%; padding:10px;}
        .profileTD{
            width:20px;
        }
        .likeTD{
            text-align: right;
        }
        .responseTD{
            line-height: 30px;
        }
        .response_submit{
            display:none;
        }
        .response{background:#BBDFC8;}
    </style>
{% endblock %}
{% block navbar %}
    {% include "partials/base.html" %}
{% endblock %}

{% block content %}

<section class="sec">
    <div id="contents" style="display: none">
        <h1>[{{expert.age_tag}}]<br><br> {{ expert.title }}</h1>
        <span> {{ expert.pub_date | date:'y-m-d,H:i'}} </span>
        <hr>
        <div class="modify_delete">
            <span onclick="showpwbox(this.id)" id="detail_modify" style="cursor: pointer; text-align: right;">수정</span> |
            <span onclick="showpwbox(this.id)" id="detail_delete" style="cursor: pointer;">삭제</span>
        </div>
        <br>
        <div id="modify_password" style="display:none">
            <div>글 작성시 입력한 비밀번호를 입력해주세요.</div>
            <form action="" method="POST">
                {% csrf_token %}
                비밀번호: <input type="password" class="writerpw" name="writerpw" value="{{ writerpw }}" onkeydown="enterkey();">
                <div id="modify_password_btn" onclick="check_pw(this.className)">확인</div>
            </form>
            <div id="warningtxt" style="display:none">비밀번호가 일치하지 않습니다.</div>
        </div>
        <br>
        {% if expert.image %}
            <img src="{{expert.image.url}}">
        {% endif %}
        <p id="questionContent">{{ expert.body }}</p>
        <div class="community__reply">
            <img id="replyicon" src="{% static 'img/reply.png' %}">
            <div id="replytxt">답변</div>
            <span id="review-count">{{expertRes.count}}</span>
        </div>
        <hr>
        {% if user.position == 'specialist' %}
        <form action="{% url 'community:expertRe_create'%}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <button class="responseBtn" type="button" onclick=openResponse()>답변하기</button>
            <button class="registerBtn" type="submit">답변 등록</button>
            <button class="cancelBtn" type="button" onclick=closeResponse()>취소하기</button>   

            <div class="response_submit">
                <input type="hidden" name="postId" value="{{expert.id}}">
                <textarea class="response_content" placeholder="답변을 적어주세요:)" rows="10" wrap="hard" name="body"></textarea>
            </div>
        </form>
        {% endif %}
        {% comment %} 답변 부분 {% endcomment %}
        <div class="response">
            <table border 1px solid>
            {% for expertRe in expertRes %}
                <tr>
                    <td class="profileTD">
                        <img id="doctor_profile" src="{% static 'img/doctor_profile.png' %}">
                    </td>
                    <td>{{expertRe.author.nickname}} 전문의 <br>{{ expertRe.author.workplace}}</td>
                    <td class="likeTD">
                        <i class="fas fa-thumbs-up"><span class="numb">{{ expertRe.thumbsUp }}</span></i>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="responseTD">
                        {{expertRe.body}}<br>
                        {{expertRe.pub_date | date:'m-d,H:i'}}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    
    <div id="pwdbox" style="text-align: center;">
        <div>글 작성시 입력한 비밀번호를 입력해주세요.</div>
        <form action="" method="POST">
            {% csrf_token %}
            비밀번호: <input type="password" class="pwcheck" name="pwcheck" value="{{ pwcheck }}">
            <div id="modify_password_btn" onclick="pwCheck()">확인</div>
        </form>
        <div id="warningTxt" style="display:none">비밀번호가 일치하지 않습니다.</div>
    </div>
    
</section>
<script>
    var state = 'close';
    function openResponse(){
        if(state === 'close'){ //닫혀있던 폼을 열고, 등록하는 버튼으로 바꿈
            $(".response_submit").css("display", "block");
            $(".responseBtn").css("display","none");
            $(".registerBtn").css("display","inline-block");
            $(".cancelBtn").css("display","inline-block");
            state = 'open';
        }
        else if(state ==='open'){//폼이 열려있으므로 답변을 등록해야 함
            //기존에 입력해둔 내용 지우기
            $(".response_content").val("");
        }
    }
    function closeResponse(){
        if(state === 'open'){ //내용 
            $(".response_submit").css("display", "none");
            $(".responseBtn").css("display","block");
            $(".registerBtn").css("display","none");
            $(".cancelBtn").css("display","none");
            state = 'close';
        //취소하기 버튼을 누르면 기존에 입력해둔 내용 지우기
            $(".response_content").val("");
        }
    }

    function showpwbox(m_or_d) {
            if(document.getElementById("modify_password").style=="display:none") {
                document.getElementById("modify_password").style="display:visible";
            }else document.getElementById("modify_password").style="display:visible";
            
            const btnvalue = m_or_d;
            
            document.getElementById("modify_password_btn").className = btnvalue;
        }

        function check_pw(m_or_d) {
            const inputpwd = parseInt(document.querySelector(".writerpw").value);
            const writerpwd = "{{ expert.password_Post }}";
            
            if(inputpwd == writerpwd) {
                if(m_or_d == 'detail_modify') {
                    location.href="{%url 'community:expert_edit' expert.id%}";
                }
                else if(m_or_d == 'detail_delete') {
                    var n = confirm("정말로 삭제하시겠습니까?");
                    if(n == true) {
                        location.href="{%url 'community:expert_delete' expert.id%}";
                    }
                }
                
            }else {
                document.getElementById("warningtxt").style="display:visible";
            }
        }

        function enterkey() {
            if(window.event.keyCode == 13) {
                check_pw();
            }
        }

        function pwCheck() {
            const inputpwd = parseInt(document.querySelector(".pwcheck").value);
            const writerpwd = "{{ expert.password_Post }}";
            
            if(inputpwd == writerpwd) {
                document.getElementById("contents").style="display:visible";
                document.getElementById("pwdbox").style="display:none";
            }else {
                document.getElementById("warningTxt").style="display:visible";
            }
        }

        window.onload = function checkSpecialist() {
            const userPosition = "{{ user.position }}";

            if(userPosition == 'specialist') {
                document.getElementById("contents").style="display:visible";
                document.getElementById("pwdbox").style="display:none";
            }
        }
</script>
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}