{% load static %}
<DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--웹페이지 title부분에 표시되는 작은 아이콘-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Herspital</title>
    <link rel="stylesheet" href="{% static 'css/expertList.css' %}">
</head>
<body>
{% block navbar %}
    {% include "partials/base.html" %}
{% endblock%}
{% block content %}
  <div id="wrapper">
    <section>
        <div class="topContent">
            <div class="search">
            <div class="search_wrap">
                <div class="search_box">
                    <form action="" method="GET">
                        <input type="text" class="input" name="search_key" value="{{ search_key }}" placeholder="Search...">
                    </form>
                    <div class="btn btn_common" onclick="searchRun()">
                        <a class="searchicon" href=""><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
            </div>
            <div class="secondTab">
                <div class="preface_wrap">
                    <ul class="preface"> <!-- 머릿말 누르면 내용이 달라지도록 변경해야함 -->
                        <li><a href="?tag=true&ageTag=여성 질환">#여성 질환</a></li>
                        <li><a href="?tag=true&ageTag=건강">#건강</a></li>
                        <li><a href="?tag=true&ageTag=의약품">#의약품</a></li>
                        <li><a href="?tag=true&ageTag=기타">#기타</a></li>
                    </ul>
                </div>
                {% if user.is_authenticated%}
                    <div class="newPostBtn_wrap">
                        <button class="newPostBtn"><i class="fas fa-pencil-alt"></i><a href="{% url 'community:consulting' %}" style="color: white;"> 글 작성하기</a></button>
                    </div>
                {% endif %}
            </div>
            
        </div>
        <div class="bottomContent">
            <table class="table">
                {% comment %} db에 저장된 값을 가져오도록 고쳐야 함 {% endcomment %}
                <thead>
                    <tr>
                        <th>말머리</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>답변</th>
                    </tr>
                </thead>
                <tbody>
                {% for expert in experts %}
                    <tr>
                        <td id="tag">{{expert.age_tag}}</td>
                        <td id="title">
                            {% if user.is_authenticated %}
                            <a href="{% url 'community:expert_detail' expert.id %}">
                            {% else %}
                            <a href="{% url 'account:login' %}">
                            {% endif %}
                            {{expert.title}}</a>
                            {% if expert.publicSetting == 'private' %}
                            <img id="privateicon" src="{% static 'img/private.png' %}" width="15px" height="16px">
                            {% endif %}
                        </td>
                        <td id="writer">&nbsp&nbsp
                        {% if expert.author.gender == 'female'%}
                            <i class="fas fa-venus"></i>
                            {% elif expert.author.gender == 'male' %}
                            <i class="fas fa-mars"></i>
                        {% endif %}
                        </td>
                        <td id="date">{{expert.pub_date | date:'m-d'}}</td>
                        <td id="commentNum">0</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pageNum_wrap">
                <ul class="pageul">
                    {% if experts.has_previous %}
                    <li><a href="?page={{experts.previous_page_number}}" class="prev">&lt; Prev</a></li>
                    {% else %}
                    <li><a href="" class="prev">&lt; Prev</a></li>
                    {% endif %}
                    
                    <li class="pageNumber active"><a href="">{{experts.number}}</a></li>
                    <li class="pageNumber"><a href="">of</a></li>
                    <li class="pageNumber active"><a href="">{{experts.paginator.num_pages}}</a></li>

                    {% if experts.has_next %}
                    <li><a href="?page={{experts.next_page_number}}" class="next">Next &gt;</a></li>
                    {% else %}
                    <li><a href="" class="next">Next &gt;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>

    <script>
        function searchRun() {
            const searchIcon = document.querySelector(".searchicon"),
                inputValue = document.querySelector(".input").value;

            searchIcon.setAttribute('href', `?search_key=${inputValue}` );
        }
    </script>
  </div>
{% endblock %}
</body>
</html>

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}