{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Herspital</title>
    <link rel="stylesheet" href="{% static 'css/consulting.css' %}">
    <script>
        function change(obj){
        var n = confirm("글 작성을 취소하시겠습니까?");
        if(n == true){
            obj.href = "{% url 'community:expertList' %}";
        }
    }
    </script>
</head>
<body>
{% block navbar %}
   {% include "partials/base.html" %}
{% endblock%}
    <p style="text-align: center; font-size:30px; margin-top: 60px;">"<span style="color:#75CFB8">전문인</span>"님께 질문 있어요!</p>
    <form action="{%url 'community:expert_update' expert_edit.id%}"  method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="board_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력" name="title" value="{{expert_edit.title}}"></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>공개 설정</dt>
                        <dd><input type="radio" id="b" style="width: 13px; height: 13px;" name="publicSetting"><span style="font-size: 15px;">비공개</span><input type="radio" id="b" style="width: 13px; height: 13px;" name="option"><span style="font-size: 15px;">공개</span></dd>
                    </dl>
                    <dl>
                        <dt style="padding-left: 60px;">비밀번호</dt>
                        <dd><input type="password" id="b" style="width: 100px; height: 30px;" name="pwd" value="{{expert_edit.password_Post}}"></dd>
                    </dl>
                    <dl>
                        <dt style="padding-left: 58px;">희망 사항</dt>
                        <dd><input type="radio" id="b" style="width: 13px; height: 13px;" name="choice"><span style="font-size: 15px;">약사</span><input type="radio" id="b" style="width: 13px; height: 13px;" name="choice"><span style="font-size: 15px;">영양사</span></dd>
                    </dl>
                    <dl style="margin-top: 30px; text-align: left;">
                        <dt>태그</dt>
                        <dd>
                            <select name="opage"style="width:85px;height:35px;">
                                <option value="여성 질환">여성 질환</option>
                                <option value="건강">건강</option>
                                <option value="의약품">의약품</option>
                                <option value="병원 안내">병원 안내</option>
                                <option value="etc">기타</option>
                            </select>
                        </dd>
                    </dl>
                    <dl style="width: 500px;">
                        <dt style="padding-left: 60px;">사진첨부</dt>
                        <dd><input id="file" type="file" name="image" style="height: 30px;"></dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="상담 내용을 작성하세요." name="body">{{expert_edit.body}}</textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <button type="submit" style="border:0; width:120px; font-size: 18px; color: white; background-color: black; height: 43px;">등록</button>
                <button type="submit" style="border:0; outline: none; margin: 10px"><a href="" style="color:black;" onclick="change(this)">취소</a></button>
            </div>
        </div>
    </form>
</body>
</html>
{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}